* {
    box-sizing: border-box;
}

/* :root {
    --border-radius: 10px;
}

div {
    border-radius: var(--border-radius);
} */

table,
td {
    border: 1px solid black;
}

.board td {
    width: 50px;
    height: 50px;

    /* padding: 10px; */
    transition: 0.5s;
    /* text-align: center; */
    background-color: lightskyblue;
}

.board td.marked {
    background-image: url("../img/red-flag.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.board td:hover {
    background-color: lightsalmon;
}

/* td > .hide { */
.hide {
    display: none;
}

td > div {
    background-color: white;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.5s; */
}

footer {
    position: absolute;
    bottom: 2em;
}