* {
    box-sizing: border-box;
}

/* :root {
    --border-radius: 10px;
}

div {
    border-radius: var(--border-radius);
} */

body {
    font-family: monospace;
    background-color: antiquewhite;
}

table,
td {
    /* border: 1px solid black; */
    border-radius: 5px;
}

table {
    margin: 0 auto;
    margin-top: 20px;
    border: solid 10px darkgray;
}

.board td {
    width: 50px;
    height: 50px;
    padding: 0;

    background-color: lightskyblue;
}

.board td.marked {
    background-image: url("../img/red-flag.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
}

.board td:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

td>div {
    background-color: white;
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: 0.5s; */
}

.control-panel {
    margin-bottom: 20px;
}

.lives span {
    font-weight: 900;
    color: red;
}

.mines span {
    font-weight: 900;
    color: blue;
}

.restart button {
    width: 60px;
    height: 60px;
    font-size: 50px;
    padding: 0;
    border: 0;
    background-color: unset;
}

.restart button:hover {
    text-shadow: 2px 2px black;
    /* background-color: wheat; */
}

.hints {
    display: flex;
    gap: 10px;
}

.hints div {
    cursor: pointer;
}

.hints div.used {
    background-color: black;
    pointer-events: none
}

.hints.disabeled {
    pointer-events: none
}

footer {
    margin-top: 20px;
    text-align: center;
}

button {
    cursor: pointer;
    font-family: monospace;
}

.level-btns button {
    height: 30px;
    width: 30px;
    background-color: darkgray;
    border: unset;
    border-radius: 5px;
}

.level-btns button:hover {
    background-color: wheat;
}

.control-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    padding: 15px;
    width: 350px;
    margin: 0 auto;
    background-color: steelblue;
    border-radius: 10px;
}

.restart {
    width: 100%;
    display: flex;
    justify-content: center;
}

.level-btns {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

h1 {
    margin-top: 30px;
    text-align: center;
}

.game-over h2 {
    text-align: center;
    color: red;
}

.hints div {
    font-size: 30px;
    border-radius: 5px;
}

.big {
    font-size: 30px;
}

p {
    font-size: 16px;
    margin: 10px 0px;
}

span {
    transition: 0.5s;
}

.timer {
    width: 50%;
    text-align: center;
    background-color: lightskyblue;
    margin-bottom: 10px;
    border-radius: 5px;
}